
<launch>

    <!-- Start val_laser2point_cloud_node to publish pointcloud2 data -->
    <node pkg="val_laser2point_cloud" type="val_laser2point_cloud_node" name="val_laser2point_cloud_node"/>

    <node pkg="val_filters" type="val_self_filter" name="robot_self_filter">
        <rosparam param="self_see_links">[leftForearmLink, leftWristRollLink, leftPalm, leftThumbRollLink, leftThumbPitch1Link,
                                          leftThumbPitch2Link, leftThumbPitch3Link,leftShoulderPitchLink, leftShoulderRollLink, leftShoulderYawLink,
                                          leftElbowPitchLink, leftIndexFingerPitch1Link, leftMiddleFingerPitch1Link,leftPinkyPitch1Link,
                                          upperNeckPitchLink, torso,
                                          rightForearmLink, rightWristRollLink, rightPalm, rightThumbRollLink, rightThumbPitch1Link,
                                          rightThumbPitch2Link, rightThumbPitch3Link,rightShoulderPitchLink, rightShoulderRollLink, rightShoulderYawLink,
                                          rightElbowPitchLink, rightIndexFingerPitch1Link, rightMiddleFingerPitch1Link,rightPinkyPitch1Link ]
        </rosparam>
    </node>

    <node type="point_cloud_assembler" pkg="laser_assembler"
            name="val_laser_assembler_svc" output="screen">
        <remap from="cloud" to="/filtered_cloud"/>
        <param name="max_clouds" type="int" value="400" />
        <param name="fixed_frame" type="string" value="world" />
        <param name="laser_snapshot_timeout" type="double" value="6.0"/>
    </node>

    <node type="periodic_snapshotter" pkg="perception_common" name="val_laser_assembler_node"/>
  
</launch>
