<launch>
    <arg name="events" default="true" />
    <arg name="gui" default="true" />
    <node
        name="send_events"
        pkg="fsm_task2"
        type="send_events"
        output="screen"
    />
    <include file="$(find fsm_task2)/launch/setup.launch">
        <arg name="example_name" value="FSMTask2" />
        <arg name="events" value="$(arg events)" />
        <arg name="gui" value="$(arg gui)" />
    </include>
</launch>
