
<launch>

    <!-- Start laser2point_cloud_node to publish pointcloud2 data -->
    <node pkg="tough_perception_common" type="laser2point_cloud_node" name="laser2point_cloud_node" ns="field" />

    <node pkg="tough_filters" type="robot_filter" name="robot_self_filter"  ns="field">
        <rosparam param="self_see_links">[leftForearmLink, leftWristRollLink, leftPalm, leftThumbRollLink, leftThumbPitch1Link,
                                          leftThumbPitch2Link, leftThumbPitch3Link,leftShoulderPitchLink, leftShoulderRollLink, leftShoulderYawLink,
                                          leftElbowPitchLink, leftIndexFingerPitch1Link, leftMiddleFingerPitch1Link,leftPinkyPitch1Link,
                                          leftHipPitchLink, leftKneePitchLink,
                                          upperNeckPitchLink, torso, pelvis,
                                          rightForearmLink, rightWristRollLink, rightPalm, rightThumbRollLink, rightThumbPitch1Link,
                                          rightThumbPitch2Link, rightThumbPitch3Link,rightShoulderPitchLink, rightShoulderRollLink, rightShoulderYawLink,
                                          rightElbowPitchLink, rightIndexFingerPitch1Link, rightMiddleFingerPitch1Link,rightPinkyPitch1Link,
                                          rightHipPitchLink, rightKneePitchLink]
        </rosparam>
        <remap from="robot_description" to="/robot_description"/>
    </node>

    <node type="point_cloud_assembler" pkg="laser_assembler"
            name="val_laser_assembler_svc" output="screen"  ns="field">
        <remap from="cloud" to="filtered_cloud"/>
        <param name="max_clouds" type="int" value="400" />
        <param name="fixed_frame" type="string" value="world" />
        <param name="laser_snapshot_timeout" type="double" value="4.0"/>
    </node>

    <node type="periodic_snapshotter" pkg="tough_perception_common" name="laser_assembler_node"  ns="field"/>
    <!--<node type="walkway_filter" pkg="tough_filters" name="walkway_filter"  ns="field"/>-->

    <node type="walkway_point_generator" pkg="tough_perception_common" name="walkway_generator"  ns="field"/>
    <node type="map_generator" pkg="navigation_common" name="map_generator"  ns="field"/>

    <node type="left_image_inverter_node" pkg="val_perception_bringup" name="left_image_inverter"  ns="field"/>

</launch>
