.ycm_extra_conf.py
*.swp
*~
*.orig
*.log

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
CMakeLists.txt.user


build/
devel/
.catkin_workspace

**/cmake/

docs/html/
docs/latex/

