<launch>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find val_footstep)/maps/sample.yaml" />
   
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find val_footstep)/config/rviz_footstep_planning.rviz" /> 
  
  <node name="footstep_planner" pkg="val_footstep" type="footstep_node" >
    <rosparam file="$(find val_footstep)/config/planning_params.yaml" command="load" />
    <rosparam file="$(find val_footstep)/config/planning_params_asimo.yaml" command="load" />
    <rosparam file="$(find val_footstep)/config/footsteps_asimo.yaml" command="load" />
  </node>

</launch>
