<launch>
  <arg name="robot_name" default="valkyrie" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
     <param name="use_gui" value="FALSE"/>     
     <param name="rate" value="500"/>     
     <rosparam param="/source_list">[/multisense/joint_states, /hardware_joint_states]</rosparam>      
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <!-- remap from="joint_states" to="/ihmc_ros/$(arg robot_name)/output/joint_states" / -->
    <remap from="robot_description" to="/$(arg robot_name)/robot_description" />
  </node>
</launch>
