<launch>
   
    <arg name="robot_name" default="atlas" />
   
   <!-- https://answers.ros.org/question/35283/nested-substitution-args-in-launch-files/?answer=276043#post-id-276043 -->
    <arg name="moveit_config_path" value="(find $(arg robot_name)_moveit_config)/launch/$(arg robot_name)_moveit_planner.launch" />
    <arg name="dollar" value="$" />
   
    <node pkg="rostopic" type="rostopic" name="rostopic" args="pub /multisense/set_spindle_speed -l std_msgs/Float64 0.8"/>

   <!--   <include file="$(find tough_bringup)/launch/joint_state.launch" />-->
   <include file="$(find tough_perception_bringup)/launch/field_laser_assembler.launch" >
      <arg name="robot_name" value="$(arg robot_name)" />  
   </include>

   <!-- <include file="$(find tough_perception_bringup)/launch/field_octomap.launch"/> -->
   <include file="$(find tough_footstep)/launch/tough_footstep.launch">
      <arg name="robot_name" value="$(arg robot_name)" />  
   </include>

    <!-- start the robot fall detector -->
    <node pkg="navigation_common" type="fall_detector" name="fall_detector" respawn="true"/>

    <!-- launch the move group -->
    <include file="$(arg dollar)$(arg moveit_config_path)" />

    <!-- start the gaze controller detector
    <node pkg="val_controllers" type="test_head" name="test_head" /> -->

   <!--IS_FIELD variable is set true on field docker container-->
   <group if="$(optenv IS_FIELD false)">
       <node pkg="src_bringup" type="broadcast_server.py" name="broadcast_server" respawn="true" />
       <node pkg="src_bringup" type="message_parser.py"   name="message_parser"   respawn="true"/>
   </group>
   
   <node name="tough_gui" pkg="tough_gui" type="tough_gui"/>
   
</launch>
