<launch>
    <arg name="init" default="true"/>
    <arg name="extra_gazebo_args" default="" />

    <include file="$(find srcsim)/launch/qual1.launch">
        <arg name="init" value="$(arg init)" />
        <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>  
    </include>
</launch>
