<launch>
  <!-- start with robot harnessed by default. -->
  <!-- set:
         roslaunch srcsim qual2.launch init:=true
       to automatically lower robot harnessed, start high level controller and detach harness. -->
  <!-- set:
         roslaunch srcsim qual2.launch init:=true walk_test:=walk
       to automatically walk forward after harness detach. -->
  <arg name="debug" default="false" />
  <arg name="extra_gazebo_args" default=""/>
  <arg name="init" default="false" />
  <arg name="paused" default="false" />
  <arg name="use_local_build" default="false" />
  <arg name="verbose" default="true" />
  <arg name="walk_test" default="false"/>
  <arg name="world_name" default="$(find srcsim)/worlds/qual2.world" />

  <include file="$(find val_gazebo)/launch/val_sim_gazebo_sync.launch" pass_all_args="false">
    <arg name="debug" value="$(arg debug)" />
    <arg name="extra_gazebo_args" default="$(arg extra_gazebo_args)"/>
    <arg name="paused" value="$(arg paused)" />
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <include file="$(find ihmc_valkyrie_ros)/launch/valkyrie_ros_api.launch" pass_all_args="false">
    <arg name="use_local_build" value="$(arg use_local_build)" />
  </include>

  <include file="$(find ihmc_valkyrie_ros)/launch/val_wholebody_control_gazebo.launch"/>

  <group if="$(arg init)">
    <node name="startup_robot" pkg="srcsim" type="init_robot.sh" args="$(arg walk_test)" output="screen"/>
  </group>

  <!--
  <include file="$(find ihmc_valkyrie_ros)/launch/remote_valkyrie_visualizer.launch" pass_all_args="true">
    <arg name="use_local_build" value="$(arg use_local_build)" />
  </include>
  -->
</launch>
