<launch>
    <arg name="init" default="true"/>
    <arg name="extra_gazebo_args" default="" />
    <arg name="use_local_build" default="false" />
    <arg name="task" default="1" />

   <include file="$(find srcsim)/launch/unique_task$(arg task).launch">
      <arg name="init" value="$(arg init)" />
      <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)" />
      <arg name="use_local_build" value="$(arg use_local_build)" />
   </include>

   <node pkg="val_bringup" type="init.py" name="initalize_robot"/>
</launch>
