<launch>

   <include file="$(find srcsim)/launch/qual2.launch">
   	<arg name="init" default="true"/> 
	<arg name="walk_test" default="true" />
   </include>

   <!-- Start spinning the lidar   @TODO: implement this using a parameter or check if one exists already-->
   <node pkg="rostopic" type="rostopic" name="rostopic" args="pub /multisense/set_spindle_speed -l std_msgs/Float64 2"/> 

   <!-- Start val_laser2point_cloud_node to publish pointcloud2 data -->
   <node pkg="val_laser2point_cloud" type="val_laser2point_cloud_node" name="val_laser2point_cloud_node"/>

   <!-- Start stereo_image_proc to pusblish disparity image -->
   <node ns="/multisense/camera" name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="log">
  	<param name="disparity_range" type="int" value="128"/>
  	<param name="approximate_sync" type="bool" value="false"/> 
   <!-- remap from="/multisense/camera/disparity" to="/multisense/left/disparity" / -->
   <remap from="/multisense/camera/points2" to="/multisense/image_points2" />
</node>


</launch>
