
<launch>

    <!-- ================================================================== -->
    <!-- == Arguments ===================================================== -->
    <!-- ================================================================== -->
    <arg name="example_name" />
    <arg name="events" default="true" />
    <arg name="gui" default="true" />


    <!-- ================================================================== -->
    <!-- == Decision making node ========================================== -->
    ================================================================== -->
    <node
        name="FSMTask2"
        pkg="fsm_task2"
        type="FSMTask2"
        output="screen"
    />



    <!-- ================================================================== -->
    <!-- == Events publisher ============================================== -->
    <!-- ================================================================== -->
    <!-- <node
        if="$(arg events)"
        name="FSMTask2_events"
        pkg="ros_fms"
        type="FSMTask2_events"
        output="screen" /> -->


    <!-- ================================================================== -->
    <!-- == Decision making rqt visualization plugin ====================== -->
    <!-- ================================================================== -->
    <node
        if="$(arg gui)"
        name="rqt"
        pkg="rqt_gui"
        type="rqt_gui"
        args="-s rqt_decision_graph"
        output="screen" />

</launch>
